.search-bar {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 2px solid #2b2d42;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-bar input:focus {
  border-color: #434a59;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #2b2d42;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #434a59;
}

.search-bar i {
  font-size: 16px;
}