.search-bar {
  display: flex;
  width: 100%;
  max-width: 500px;
  background: linear-gradient(135deg, #eff6f8, #d8e9f3);
}
.search-bar:hover {
  box-shadow: 0 0 20px rgba(139, 210, 249, 0.8); 
  transform: scale(1.02);
}

.search-bar input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 2px solid #2b2d42;
  color: #434a59;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-bar input:focus {
  border-color: #434a59;
  box-shadow: 0 0 0 2px rgba(67, 74, 89, 0.1);
}

.search-bar input::placeholder {
  color: #a0a5b1;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #2b2d42;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #434a59;
  box-shadow: 0 0 20px rgba(139, 210, 249, 0.8); 
  transform: scale(1.02);

}

.search-bar i {
  font-size: 16px;
}

