<div class="filters-section">
  <div class="search-bar-container">
    <app-search-bar (searchEmitter)="onSearch($event)"></app-search-bar>
  </div>
  
  <div class="filters">
    <div class="filter-item">
      <select id="categoryFilter" [(ngModel)]="selectedCategory" (change)="onCategoryChange(selectedCategory)">
        <option value="">All Categories</option>
        <option value="Personal">Personal</option>
        <option value="Work">Work</option>
        <option value="Shopping">Shopping</option>
      </select>
    </div>
    
    <div class="filter-item">
      <select id="priorityFilter" [(ngModel)]="selectedPriority" (change)="onPriorityChange(selectedPriority)">
        <option value="">All Priorities</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
    </div>
  </div>
</div>


<div class="container">
  <h1 class="task-list-heading">Task List</h1>
  <ul class="list-group">
    <li *ngFor="let task of filteredTasks" class="list-group-item">
      <p class="mb-1"><strong class="tit">Title:</strong> {{task.title}}</p>
      <p class="mb-1"><strong class="tit">Description: </strong>{{ task.description }}</p>
      <p class="mb-1"><strong class="tit">Due Date: </strong>{{ task.dueDate | date:'medium' }}</p>
      <p class="mb-1" style="white-space: nowrap;"><strong class="tit">Category: </strong>{{ task.category }}</p>

      <div class="priority-container">
        
        <p>
          <strong class="tit">Priority:</strong> 
        </p>
        <div style="padding-top: 0.5rem;margin-left: 5px;">
          <i *ngIf="task.priority === 'High'" class="material-icons high-priority-icon red-text">fiber_manual_record</i>
          <i *ngIf="task.priority === 'Medium'" class="material-icons medium-priority-icon orange-text">fiber_manual_record</i>
          <i *ngIf="task.priority === 'Low'" class="material-icons low-priority-icon green-text">fiber_manual_record</i>
        </div>
        <p *ngIf="task.priority === 'High'" class="high-priority" style="color: red;">{{ task.priority }}</p>
        <p *ngIf="task.priority === 'Medium'" class="medium-priority" style="color: orange;">{{ task.priority }}</p>
        <p *ngIf="task.priority === 'Low'" class="low-priority" style="color: green;">{{ task.priority }}</p>
        

      </div>

      <div class="task-actions">
        <a [routerLink]="['/update-task', task.id]" class="update-link">
          <i class="fas fa-pencil-alt"></i> Edit
        </a>
        <span class="icon-spacing"></span>
        <a (click)="navigateToDeleteTask(task.id)" class="delete-link">
          <i class="fas fa-trash-alt"></i> Delete
        </a>
      </div>
    </li>
  </ul>

  <div class="completed-task-list">
    <h2>Completed Tasks</h2>
    <ul class="task-list">
      <li *ngFor="let task of filteredTasks" [class.completed]="task.completed">
        <input type="checkbox" [(ngModel)]="task.completed" (change)="updateCompletionStatus(task)">
        {{ task.title }}
      </li>
    </ul>
  </div>
</div>
<br>
<!-- Pie Chart for task completion -->
<div class="chart-container">
  <h1 class="task-analytics-heading">Task Analytics</h1><br>
  <canvas baseChart class="piechart"
    [data]="pieChartData"
    [type]="pieChartType"
    [options]="pieChartOptions">
  </canvas>
</div>