.container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(145deg, #ffffff, #e6eef3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
.container:hover {
  box-shadow: 0 8px 12px rgba(67, 74, 89, 0.2);
}


h1 {
  font-size: 24px;
  color: #2b2d42; /* Red color for the title */
}

p {
  font-size: 18px;
  margin: 20px 0;
}

button {
  background-color:  #9e4040; /* Red color for the button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  transform: scale(1.02);
  background-color: #c55050; /* Darker red color on hover */
}
